body {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(38, 70, 83, 1) 92%
  );
}

.cardImageContainer {
  border-radius: 1em;
}
.cardImageContainer:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #09ff36;
  transform: translateY(-0.25em);
}
